.wrapper{
    border: solid 1px rgb(176, 18, 197);
    border-radius: 10px;
    margin: 50px 180px;
}

.wrapper h1{
    text-align: center;
    margin: 20px 0 40px 0;
    border-bottom: solid 2px rgb(176, 18, 197);
}

.form-content,
.form-content dt,
.form-content dd{
    text-align: center;
}

.form-content input,
.form-content textarea,
.form-content button{
    width: 40%;
    border: solid 1px rgb(176, 18, 197);
    border-radius: 5px;
}

#name-error,
#kana-error,
#tel-error,
#email-error,
#body-error{
    color: red;
}

#name-error.is-error::before,
#kana-error.is-error::before,
#tel-error.is-error::before,
#email-error.is-error::before,
#body-error.is-error::before{
    content: "\A";
    white-space: pre;   
}

.error-php{
    color: red;
}

/* DBテーブル */
table{
    margin: 0 auto;
    width: 60%;
}

.table-title{
    background-color: lightgray;
}

.reference{
    margin: 40px 0;
}

.reference th,
.reference td{
    border: solid 1px rgb(176, 18, 197);
    text-align: center;

}

/* confirm.php */
.confirm-dt{
    border-bottom: solid 1px rgb(176, 18, 197);
}

.new-line{
    white-space: pre-wrap;
}

.button{
    justify-content: center;

    padding: 5px;
}

.button dd{
    margin: 10px;
}


/* complete.php */
.wrapper p{
    text-align: center;
} 